

.head{color: #201976;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 .titulo{color: #201976;}
 * {
     margin: 0;
     padding: 0;
     margin: 0;
     text-align: center;
     height: 10px;
     margin-bottom: 30px;
     font-size: 40px;
     
  }
   
  body {
    font-family: arial;
    background-image: url('login.jpg');
    color: #ffffff;
  }

  
  .form-NUEVO {
    width: 400px;
    height: 340px;
    background: #4e4d4d;
    text-decoration-color: #ffffff;
    margin: auto;
    margin-top: 180px;
    box-shadow: 3px 1px 7px #000000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: rgb(195, 252, 255);
  }
  
  .form-NUEVO h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
  
  .controls {
    width: 100%;
    border: 1px solid #19191a;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #3e3d3d;
    font-size: 14px;
    font-weight: bold;
  }
 
  
  .form-NUEVO p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  .form-NUEVO  a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14px;
  }
  
  